:root {
  --bgColor: #2e3035;
  --btnBg: #1bb76e;
  --label-before: rgb(146, 146, 146);
  --label-after: rgb(226, 226, 226);
  --white-gray: rgb(226, 226, 226);
  --dark-gray: #2e3035;
  --dark-gray-white: #585c5e;
  --red-color: #c04441;
  --green-white: #1bb76e;
  --paperBg: #3f434a;
  --infoType: #b6b6b6;
  --mongo: #1edb57;
  --express: #da2057;
  --react: #0099ff;
  --node: #00bd3f;
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
#root {
  height: max-content !important;
}

html {
  width: 100%;
  height: 100% !important;
}

body {
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  font-family: "Varela Round", sans-serif;
}

/* Home */
.homeSection {
  position: relative;
  width: 100%;
  height: 80vh !important;
  background-image: url("https://i.imgur.com/KrNIbFf.png");
  background-position: center;
  background-size: cover;
  border-radius: 5px !important;
  text-align: left;
}

.sectionTitle {
  position: absolute;
  width: 30% !important;
  text-align: justify;
  top: 50%;
  transform: translate(0, -50%);
  color: #eee !important;
  left: 50px !important;
}

.sectionP {
  color: var(--infoType) !important;
  font-size: 0.8rem !important;
}

.tecs {
  margin-top: 20px !important;
}

.M {
  color: var(--mongo);
}

.MD {
  margin-left: 5px;
}

.E {
  color: var(--express);
  margin-left: 5px;
}

.R {
  color: var(--react);
  margin-left: 5px;
}

.N {
  color: var(--node);
  margin-left: 5px;
}

.getStartedBtn {
  background-color: var(--btnBg) !important;
  color: #eee !important;
  width: 100% !important;
  opacity: 0.8 !important;
  transition: all 0.5s !important;
  margin: 20px 0 !important;
}

.getStartedBtn:hover {
  opacity: 1 !important;
}

/* Navbar */
.Navbar {
  background: var(--paperBg); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    var(--dark-gray-white),
    var(--paperBg)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    var(--dark-gray-white),
    var(--paperBg)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.8 !important;
  transition: all 0.6s !important;
  -moz-transition: all 0.6s !important;
  -o-transition: all 0.6s !important;
  -webkit-transition: all 0.6s !important;
  height: fit-content !important;
}

.Navbar:hover {
  opacity: 1 !important;
}

.Navbar .MuiToolbar-regular {
  min-height: 50px !important;
  height: 50px !important;
}

.Navbar .NavLink {
  margin-right: 10px !important;
  color: var(--white-gray) !important;
  font-weight: 500 !important;
  transition: all 1s !important;
}

.NavLink:hover {
  color: var(--btnBg) !important;
  background: none !important;
}

.navICons {
  width: 20px !important;
  margin-right: 5px !important;
}

.LinkText {
  font-size: 0.9rem !important;
  margin-top: 1px !important;
}

.LinkContainer {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Tab */
.paper {
  background-color: var(--paperBg) !important;
  text-align: center !important;
}

.tabs {
  color: var(--label-after) !important;
}

.MuiTabs-indicator {
  background-color: var(--btnBg) !important;
}

/* Dialog */
.MuiDialog-paper {
  background-color: var(--paperBg) !important;
}

/* Contacts */
.NotFoundTitle {
  color: var(--infoType) !important;
  text-align: center !important;
}

.ContactItem {
  margin: 10px 0 !important;
  background-color: var(--dark-gray-white) !important;
}

.ContactItemCard {
  background-color: var(--dark-gray-white) !important;
}

.contactType {
  padding: 3px 10px !important;
  border-radius: 5px !important;
}

.typePer {
  background-color: var(--btnBg) !important;
  color: var(--white-gray) !important;
}

.typePro {
  background-color: var(--white-gray) !important;
  color: var(--btnBg) !important;
}

.cardIcons {
  width: 12px !important;
  height: 100% !important;
  color: var(--btnBg) !important;
}

.email {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 5px !important;
  font-weight: 500 !important;
  font-size: 0.9rem !important;
  color: #fff !important;
}

.phone {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 5px !important;
  font-weight: 500 !important;
  font-size: 0.9rem !important;
  color: #fff !important;
}

.InfoType {
  color: var(--infoType) !important;
}

.MuiCardContent-root {
  padding: 10px 10px 0 10px !important;
}

.MuiCardActions-root {
  padding: 2px !important;
}

.MuiIconButton-root {
  padding: 8px !important;
}

.ContactItemBtn {
  font-size: 0.8rem !important;
  color: var(--bgColor) !important;
  width: 50% !important;
  margin: 0 !important;
}

.ContactItemBtn:hover {
  color: var(--btnBg) !important;
  background-color: var(--white-gray) !important;
}

.MuiIconButton-root {
  border-radius: 3px !important;
}

.addConHeader {
  text-align: center !important;
  color: var(--white-gray) !important;
}

.addConForm {
  padding: 15px !important;
  text-align: center !important;
}

.primaryBtn {
  background-color: var(--btnBg) !important;
  color: #eee !important;
  width: 80% !important;
  margin: 10px 0 !important;
  opacity: 0.8 !important;
  transition: all 0.5s !important;
}

.clearBtn {
  background-color: #c04441 !important;
  color: #eee !important;
  transition: all 0.5s !important;
  margin: 0 !important;
  width: 80% !important;
  opacity: 0.8;
}

.primaryBtn:hover,
.clearBtn:hover {
  opacity: 1 !important;
}

.textBtn {
  font-size: 0.8rem;
  margin-top: 2px;
  color: #eee;
}

/* Register */
.addAccountCircleIcon {
  width: 100% !important;
  font-size: 5rem !important;
  color: var(--btnBg) !important;
}

/* Alert Message */
#alert {
  margin: 5px 0 !important;
}

/* Login */
/* Login Inputs */
.inputClass {
  margin: 0 0 10px 0 !important;
}

.inputClass .MuiInput-formControl {
  margin-top: 16px !important;
}

.inputClass label {
  color: var(--label-before) !important;
}

.inputClass label.Mui-focused {
  color: var(--label-after) !important;
}

.inputClass .MuiInputBase-input {
  padding: 0 0 10px 0 !important;
}

.inputClass .MuiInputBase-root {
  color: var(--label-after) !important;
}

.inputClass .MuiInput-underline:before {
  border-bottom-color: var(--label-before) !important;
}

.inputClass .MuiInput-underline:hover::before {
  border-bottom-color: var(--label-before) !important;
}

.inputClass .MuiInput-underline:hover::after {
  border-bottom-color: var(--btnBg) !important;
}

.inputClass .MuiInput-underline:after {
  border-bottom-color: var(--btnBg) !important;
}

.pwdIcon {
  color: var(--label-before) !important;
}
/*  */

.loginFormBtn {
  background-color: var(--btnBg) !important;
  color: #eee !important;
  width: 80% !important;
  margin: 20px 0 !important;
  opacity: 0.8 !important;
  transition: all 0.5s !important;
}

.loginFormBtn:hover {
  opacity: 1 !important;
  width: 85% !important;
  margin: 20px 0 !important;
}

.btnIcon {
  margin-right: 5px !important;
}

.btnText {
  font-size: 0.8rem !important;
  margin-top: 2px !important;
}

.signinMessage {
  color: var(--label-before) !important;
  display: block !important;
  text-align: left !important;
  font-size: 0.7rem !important;
}

.required {
  color: var(--red-color);
  font-size: 1rem;
}

.requiredMsg {
  color: var(--red-color) !important;
  font-size: 0.8rem !important;
}

.requiredLabel {
  color: var(--red-color) !important;
  margin-left: 5px !important;
}

/* Contacts */
/* Animation */
.contact-enter {
  opacity: 0;
}

.contact-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.contact-exit {
  opacity: 1 !important;
}

.contact-exit-active {
  opacity: 0 !important;
  transition: opacity 1000ms ease-in !important;
}

/* Add Contact Form */
.conType {
  margin-top: 15px !important;
  text-align: left !important;
  width: 100% !important;
  color: var(--white-gray) !important;
}

.radioTitle {
  color: var(--white-gray) !important;
}

.radioBtn {
  color: var(--dark-gray-white) !important;
}

.radioBtn:active {
  color: var(--btnBg) !important;
}

.Mui-checked {
  color: var(--btnBg) !important;
}

.radioBtn:hover {
  color: var(--btnBg) !important;
}

/*scroll bar*/
/* width */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #ff5f6d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, var(--btnBg), var(--bgColor));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, var(--btnBg), var(--bgColor));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--dark-gray-white);
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--white-gray);
}
